@media(max-width:1376px) {
    /* header  */
    header {
        padding-inline: 45px;
    }

    .burger {
        display: block;
    }

    .header_nav {
        position: fixed;
        top: 98.4px;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        background-color: #C46A2B;
        transition: .4s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .show {
        left: 0;
    }

    /* index section2 */
    .section_tre {
        padding-left: 45px;
    }

    .section_tre {
        overflow-x: scroll;
    }

    .article {
        flex: 1 0 298px;
        padding: 8px 8px 16px 8px;
        gap: 0px;
        border: 1px 0px 0px 0px;
    }

    
    .footer {
        padding: 48px 98px;

    }

    
/* //////////////////catalog */
    .catalog_section {

        
        padding: 45px 96px 45px 96px;
         height: 2112px;


    }
 .section_article{
        width: 934px ;
        /* height: ; */
            }
    
   
        
}

@media(max-width:1050px){
    .section_article{
        width: 800px ;
        /* height: ; */
            }

}