@media(max-width:743px) {
    .footer {
        padding: 48px 32px;

    }

    .section_tre {
        padding: 48px 0px 48px 32px;
        height: 620px;
    }

    .section_one {
        height: 480px;

    }

    .logos {
        display: flex;
        column-gap: 32px;
    }
    .section_article{
        /* background: #000; */
        width: 298px;
        height: 100%;
    }
    .catalog_section{
        height: fit-content;
    }
}